In [4]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Temperature':['Hot','Cold','Warm','Cold']})
df

  Temperature
0         Hot
1        Cold
2        Warm
3        Cold

In [5]:
pd.get_dummies(df)

   Temperature_Cold  Temperature_Hot  Temperature_Warm
0                 0                1                 0
1                 1                0                 0
2                 0                0                 1
3                 1                0                 0

In [6]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings ('ignore')
dfr=pd.read_csv('C:\\Users\\GPT BANTWAL\\Documents\\result.csv')
dfr

   Student_id  Marks        Result
0           1     90   Distinction
1           2     85   First class
2           3     50  Second class
3           4     40  Second class
4           5     25          Fail

In [7]:
dfr['Result'].unique()

array(['Distinction', 'First class', 'Second class', 'Fail'], dtype=object)

In [8]:
pd.get_dummies(dfr['Result'])

   Distinction  Fail  First class  Second class
0            1     0            0             0
1            0     0            1             0
2            0     0            0             1
3            0     0            0             1
4            0     1            0             0