In [4]:
import pandas as pd
arr={'days':[1,2,3,4,5,6,7,8,9,10],
    'steps':[4335,9552,7332,4504,5335,7552,8332,6504,8965,7689]}
df=pd.DataFrame(arr)
arr

{'days': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'steps': [4335, 9552, 7332, 4504, 5335, 7552, 8332, 6504, 8965, 7689]}

In [5]:
arr['steps']=df['steps']+2000
arr['steps']

0     6335
1    11552
2     9332
3     6504
4     7335
5     9552
6    10332
7     8504
8    10965
9     9689
Name: steps, dtype: int64

In [6]:
match=df.loc[df['steps']>9000]
match

   days  steps
1     2   9552

In [ ]:
d