In [2]:
import pandas as pd
data={'height':[2,6,None,4,8,3,4,1],
     'weight':[3,8,None,None,12,4,4,1],
     'color':['red',None,'black','brown','black',None,'green',None],
     'age':[2,10,6,7,4,1,2,3]}
df=pd.DataFrame(data)
df

   height  weight  color  age
0     2.0     3.0    red    2
1     6.0     8.0   None   10
2     NaN     NaN  black    6
3     4.0     NaN  brown    7
4     8.0    12.0  black    4
5     3.0     4.0   None    1
6     4.0     4.0  green    2
7     1.0     1.0   None    3

In [3]:
df.isna()

   height  weight  color    age
0   False   False  False  False
1   False   False   True  False
2    True    True  False  False
3   False    True  False  False
4   False   False  False  False
5   False   False   True  False
6   False   False  False  False
7   False   False   True  False

In [4]:
df.isnull().sum()

height    1
weight    2
color     3
age       0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  7 non-null      float64
 1   weight  6 non-null      float64
 2   color   5 non-null      object
 3   age     8 non-null      int64
dtypes: float64(2), int64(1), object(1)
memory usage: 388.0+ bytes